/* .row {
    display: flex;
    flex-wrap: wrap;
} */

/* .row .column {
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%
} */

.row .column img {
    width: 100%;
}

.vid-thumbnail {
    width: 100%;
}

.drone-vid img:hover {
    transform: scale(1.03);
    opacity: .8;
    border: 1px solid #20494d;
}

.main-vid-div {
    aspect-ratio: 16 / 9;
}

.main-drone-video {
    width: 100vw;
    height: auto;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }