
nav {    
    background-color: #cbdbd988;
}

.navbar-nav .nav-item .nav-link {
    color: #20494d; 
    font-weight: 500;
}

.navbar-brand p {
    color: #20494d;  
    font-weight: 777;
}

.link-div-parent {
    width: 100%;
}

a,.homelink {
    width: 100%;
}

.link-div {
    aspect-ratio: 1 / 1;
    min-height: 233px;
    color: white;
    border: 5px solid #cbdbd9;
    border-radius: 5% 0;
    box-shadow: 10px 10px #cbdbd955;
}



.link-div-1 {
    background-image: url("img/cabin-sq.jpg");
    background-size: contain;
}

.link-div-2 {
    background-image: url("img/bh-looking-at-lake-sq.jpg");
    background-size: contain;
}

.link-div-3 {
    background-image: url("img/haystack-sq.jpg");
    background-size: contain;
}

#cabin-img-carousel {
    aspect-ratio: 4/3;
    object-fit: contain;
}

#homeCarousel {
    position: sticky;
}

a:hover {
    transform: scale(1.1);
}